html {
    font-size: 62.5%;
}
.App {
    max-width: 1200px;
    margin: 0 auto;
}
.Home{
    width: 100%;
    height: 5000px;
    display: flex;

    .Sidebar {
        background-color: yellow;
        flex: 2;
        margin-right: 10px;
        border-radius: 1rem;

        .Logo{}
    }

    .Wapper {
        flex: 10;
        margin-left: 10px;

        display: flex;
        flex-direction: column;

        .Topbar {
            background-color: red;
            height: 60px;
            margin-bottom: 10px;
            border-radius: 1rem;
        }


        .Content {
            margin-top: 10px;
            display: flex;
            flex: 1;

            .Main {
                background-color: green;
                margin-right: 10px;
                flex: 8;
                border-radius: 1rem;
            }
            .Rightbar {
                background-color: blue;
                margin-left: 10px;
                flex: 2;
                border-radius: 1rem;
            }
        }
    }
}

                